h2 {
  color: white;
}
.ad-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  color: white;
}

.ad-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 800px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.ad-form label {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 1rem;
}

.ad-form input[type="text"],
.ad-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.ad-form input[type="file"] {
  margin-top: 10px;
  margin-bottom: 20px;
}

.ad-form button[type="submit"],
.go-back {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.ad-form button[type="submit"]:hover {
  background-color: #3e8e41;
}
.title,
.description,
.date,
.image,
.budget {
  text-align: center;
}

.adv-submit-btn {
  margin-top: 0.9em;
}

.user {
  color: white;
}
.user-bottom-space {
  margin-bottom: 0.5em;
}
.adv-img {
  width: 17rem;
  height: auto;
  border-radius: 4%;
}

.adv-container {
  margin: 0.7em 0.7em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  max-width: 800px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.adv {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

@media only screen and (max-width: 1150px) {
  .adv-container {
    width: 35%;
  }
}

@media only screen and (max-width: 830px) {
  .adv {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .adv-container {
    width: 70%;
  }
}

.input-display {
  border-radius: 10px;
  font-size: small;
  margin-bottom: -5px;
}

.go-back-second {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 1em;
}
.adv-container-second {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
