.go-back {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}
.container {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
